<!doctype html>
<html>
  <head>
    <title>Section A05</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="/css/section.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
			<h1 id='name'><a href='/'>Asha Bacon</a></h1>
			<nav id='nav'>
				<ul>
					<li id='section'>
						<a href='/section'>SECTION A05</a>
					</li>
					<li id='experience'>
						<a href='#experience'>EXPERIENCE</a>
						<div id='dropdown-content'>
							<a href="work">WORK</a>
							<a href="projects">PROJECTS</a>
						</div>
					</li>
					<li id='about'>
						<a href='#about'>ABOUT</a>
					</li>
					<li id='blog'>
						<a href='#blog'>BLOG</a>
					</li>
				</ul>
			</nav>
		</header>
    <p><a href="/">Back &raquo;</a></p>
    <section class="welcome">
      <div id="welcome">
        <h1>Welcome to Section A05 for COGS 101A</h1>
      </div>
      <div id="message">
        <p>
          <img src='/images/DSC07572_result.JPG'
          height='235' align='left' hspace="100">
          Hello! My name is Asha Bacon and I am a fourth year undergrad at UCSD studying Cognitive Science
          with a specialization in HCI. This is my first time IAing a class,
          so I’ll do my best but am always open to suggestions for improvement.
          I’m terrible at cooking and social isolation, so let’s see how this quarantine goes :^).<br><br>
          Here is my zoom link: <a href="https://ucsd.zoom.us/j/294024686">Section A05</a>
        </p>
      </div>
    </section>
    <div id='coursematerials'>
      <img src='/images/coursematerials.svg' height="257.5px">
    </div>
    <section id="week1">
      <h1>Week 1:</h1>
      <a href='https://www.biomotionlab.ca/Demos/BMLwalker.html'>Biological Movement Simulator</a>
    </section>
  </body>
</html>
