
.header {
	background: #155D85;
	border: 1px solid #979797;
	overflow: hidden;
}

.header #nav {
  font-weight: 600;
  height: inherit;
  letter-spacing: 0.125em;
  line-height: inherit;
  position: absolute;
  right: 1.5em;
  display: inline;
}

header #name {
	font-family: Symbol;
	font-size: 24px;
	color: #FFFFFF;
	text-shadow: 0 2px 4px #155D85;
	display: inline-block;
	margin-left: 20px;
}

#nav li {
	font-family: Helvetica;
	font-size: 12px;
	color: #D8D8D8;
	text-align: right;
	display: inline-block;
	margin-top: 20px;
	vertical-align: middle;
	margin-left: 25px;
}

.label h1 {
	font-family: Sathu;
	font-size: 64px;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	position: relative;
}

.label p {
	opacity: 100%;
	font-family: Sathu;
	font-stretch: condensed;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 5px;
}

section {
	display: block;
}

#banner {
	background-image: url('../images/geisel.jpg');
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 650px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container*/
}

#banner .label {
	opacity: 0.69;
	background: #4298C6;
	border: 1px solid #979797;
	position: absolute;
	left: 27%;
	top: 40%;
	display: inline-block;
	width: 550px;
	height: 200px;
}

#intro{
	background-image: url('../images/intro.svg');
	background-color: #cccccc; /* Used if the image is unavailable */
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	height: 280px;
	width: 1280px;
	z-index: 10;
}

 #intro header {
	margin-top: 30px;
	font-family: Sathu;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
 }

#intro p {
	margin-top: 20px;
	font-family: Sathu;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
}

.projects header {
	font-family: Sathu;
	font-size: 24px;
	color: #000000;
	text-align: center;
	padding-top: 30px;
}

.projects {
	height: 500px;
}

.projects div {
		display: flex;
}

.projects img {
	/* display: inline-block;
	margin-left: auto;
	margin-right: auto; */
	flex: 33.33%;
	margin-top: 30px;
}
