

#welcome {
  text-align: center;
  margin-top: 30px;
}

#welcome h1 {
  font-family: Helvetica;
  font-size: 36px;
  color: rgba(0,0,0,0.85);
}

#message {
  display: inline-block;
  margin-top: 30px;
  margin-left: 10%;
  margin-bottom: 30px;
}

#message p {
  width: 900px;
  font-family: Helvetica;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
  text-align: justify;
}

#message a {
  color: #56A0C2;
}

#coursematerials {
  margin-top: 30px;
}

#schedule {
  padding-left: 10%;
  margin-top: 30px;
  margin-bottom: 50px;
}

#schedule a {
  font-size: 16px;
  color: #56A0C2;
}

table {
  display: table-cell;
  /* border-collapse: separate; */
  width: 100%;
}

table td {
  padding: 0.5em 2em;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
}
table th {
  text-align: center;
  font-size: 18px;
  font-family: Helvetica;
}
