

#welcome {
  text-align: center;
  margin-top: 30px;
}

#welcome h1 {
  font-family: Helvetica;
  font-size: 36px;
  color: rgba(0,0,0,0.85);
}


.header {
	background: #155D85;
	border: 1px solid #979797;
	overflow: hidden;
}

.header #nav {
  font-weight: 600;
  height: inherit;
  letter-spacing: 0.125em;
  line-height: inherit;
  position: absolute;
  right: 1.5em;
  display: inline;
}

header #name {
	font-family: Symbol;
	font-size: 24px;
	color: #95C6DD;
	text-shadow: 0 2px 4px #155D85;
	display: inline-block;
	margin-left: 20px;
}

#nav li {
	font-family: Helvetica;
	font-size: 12px;
	color: #D8D8D8;
	text-align: right;
	display: inline-block;
	margin-top: 20px;
	vertical-align: middle;
	margin-left: 25px;
}

#message {
  display: inline-block;
  margin-top: 30px;
  margin-left: 10%;
  margin-bottom: 30px;
}

#message p {
  width: 900px;
  font-family: Helvetica;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
  text-align: justify;
}

#message a {
  color: #56A0C2;
}

#coursematerials {
  margin-top: 30px;
}

#week1 {
  margin-left: 20px;
  height: 200px;
}

#week1 h1 {
    padding-left: 30px;
    padding-top: 20px;
    font-family: Helvetica;
    font-size: 26px;
    color: rgba(0,0,0,0.85);
    text-decoration: underline;
}

#week1 a {
  font-size: 16px;
  padding-left: 60px;
  color: #56A0C2;
}
